.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #373737;
    border: 2px solid #d2d2d2;
    font-weight: 900;
}

.pagination button.active {
    font-weight: 900;
    background: #ffe400;
    color: #101010;
}

.pagination button.disable {
    display: none;
}